* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f3f4;
  box-sizing: border-box;
}
.head {
  display: flex;
  justify-content: center;
}
#a1 {
  position: relative;
  right: 10px;
  margin: auto 0;
  left: 10px;
  font-size: 16px;
  color: black;
}
.profile {
  display: flex;
  position: relative;
}
.naivbar {
  display: flex;
  position: relative;
  list-style: none;
  left: 28px;
}
.naivbar li {
  margin: 25px 10px 0px 0px;
  font-size: 20px;
  font-size: 16px;
}
.naivbar a {
  text-decoration: none;
  color: black;
}
.naivbar a:hover {
  border: 2px;
  background-color: black;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}
.body-fig {
  display: block;
  margin-top: 5px;
  padding: 50px;
  justify-content: center;
}
.img2 img {
  margin-top: 60px;
  height: 400px;
  width: 400px;
}
.body-figure3 h1 {
  font-size: 30px;
}
.body-figure3 h2 {
  font-size: 25px;
}
.body-figure3 h3 {
  margin-top: 30px;
}
.cont-1 p {
  font-size: 16px;
  margin-bottom: 25px;
}
.cont-1 h2 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 25px;
}
.cont .cont-2 {
  height: 200px;
  width: 200px;
}
.flexible {
  display: block;
}
.half {
  padding-left: 3%;
  background-color: #07010a;
  color: whitesmoke;
  box-shadow: 10px 10px 40px rgb(53, 53, 53);
  border-radius: 10px;
  width: 70%;
  height: 300px;
  margin-left: 15%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  text-align: justify;
}
.half h2 {
  padding-top: 20px;
}
.half-1 {
  margin-bottom: 60px;
}
